.linktree__contents {
    background-color: var(--contents-background-color);
    width: 80%;
    margin: auto;
    border: 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.linktree__contents-container {
    width: 60%;
    max-height: 2em;
    padding: 1.5em;
    margin: 2em;
    border-radius: 1rem;
    background-color: var(--contents__container-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.5s;
}

.linktree__contents-container:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


.linktree__contents-container__links {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;

    transition: all 0.5s;
    cursor: pointer;
}

.linktree__contents-container__links:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.linktree__contents-container__links-items {
    margin: 0;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linktree__contents-container__links-items img {
    height: 99%;
    width: 2.5rem;
    border: 0;
    margin: 0;
}

.linktree__contents-container__links-items p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 500;
    border: 0;
    margin: 0 0 0 1rem;
    text-align: center;
    color: var(--contents__container-item-text-color);
}
