:root {
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);

  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --contents-background-color: #2f4f4f;
  --contents__container-background-color: rgb(188, 233, 218);
  --contents__container-item-text-color: rgb(0, 0, 0); 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  }

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    background-color: #ffffff;

    --contents-background-color: rgba(52, 30, 180, 0.863);
    --contents__container-background-color: #82c6ee8f;
    --contents__container-item-text-color: #fff;
  }
}

